// @import 'variables';

:root {
	--themeColor: #000;
	--themeInverseColor: #000;
	--textColor2: #fff;
	--textColor3: #ccc;
	--canvasColor: #141414;
	--transition: all 0.3s linear;
	// --zoom: '1';
}

$themeColor: var(--themeColor);
$themeInverseColor: var(--themeInverseColor);

$primaryColor: #1323ad;
$primaryColor2: #063251;
$primaryColor3: #007bff;
$primaryColor4: #1322ad;

$red: red;
$green: green;
$white: white;
$black: black;

$textColor1: $primaryColor;
$textColor2: var(--textColor2);
$textColor3: var(--textColor3);
$textInverse: var(--themeInverseColor);

$shadowColor: $primaryColor2;
$canvasColor: var(--canvasColor);

$border-radius: 10px;
$border-padding: 1vmax;
$gap: 1vw;
$spacing: 5;

$fontSize1: calc(var(--zoom) * 1.5vmax);
$fontSize2: calc(var(--zoom) * 1vmax);
$fontSize3: calc(var(--zoom) * 0.8vmax);
$iconSize: calc(var(--zoom) * 1.5vmax);
$iconSizeHover: calc(var(--zoom) * 1.7vmax);

$transition: all 0.3s linear;

//NavBar
$navBorderShadow: 5px 5px 10px $shadowColor;
$navBarBorderRadius: 0px 0px $border-radius $border-radius;

//Footer
$footerBorderRadius: $border-radius $border-radius 0px 0px;
$footerBorderShadow: 5px -5px 10px $shadowColor;

@mixin box {
	padding: $border-padding;
	border-radius: $border-radius;
}
//Mixins
@mixin main-box {
	@include box;
	box-shadow: 5px 5px 10px $shadowColor;
	border: 1px solid $shadowColor;
	margin: 0px $gap;
	font-size: $fontSize2;
}
@mixin common-box {
	@include box;
	$border-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid $themeInverseColor;
	color: $textColor2;
	font-size: $fontSize2;
	p {
		font-size: $fontSize3;
		color: $textColor2;
	}
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $gap;
}

@mixin icon {
	display: flex;
	font-size: $iconSize;
	color: $textColor2;
	transition: var(--transition);

	&:hover {
		font-size: $iconSizeHover;
	}
}

@mixin button {
	@include flex-center;
	gap: 0.8vw;
	width: 100%;
	cursor: pointer;

	border-radius: $border-radius;
	border: 0.2vw solid $themeInverseColor;
	padding: 0.5vh 0.7vw;
	transition: all 0.4s;
	font-size: $fontSize2;

	&:disabled {
		cursor: not-allowed;
	}
	&:focus {
		outline: none;
	}
}

@mixin button-main {
	@include button;
	background-color: $red;
	color: $textColor2;

	&:hover {
		background-color: darken($red, 10%);
		color: $textInverse;
	}
}
@mixin buttons {
	@include button;
	// background-color: #007bff;
	background-color: $primaryColor3;
	color: white;
	&:not(:disabled):hover {
		background-color: darken($primaryColor3, 10%);
	}

	&:disabled {
		background-color: $textColor3;
		color: $textInverse;
	}
}

@mixin info {
	@include flex-center;
	justify-content: space-between;
	padding: 5px 10px;
	margin-bottom: 5px;
	background-color: $primaryColor4;
	border-radius: $border-radius;
	width: 100%;
	color: $textColor2;
	font-size: $fontSize2;
	:nth-child(1) {
		font-style: bold;
	}
	:nth-child(2) {
		font-style: italic;
	}
	&:hover {
		background-color: lighten($primaryColor4, 10%);
	}
}
@mixin input {
	width: 100%;
	background-color: $white;
	// color: $textColor2;
	padding: calc($border-padding / 2);
	border-radius: $border-radius;
	display: block;
	border: 2px solid $themeInverseColor;
	&:focus {
		outline: none;
	}
}
// @media (max-width: 768px) {
// 	$fontSize1: 5vmax;
// 	$fontSize2: 5vmax;
// 	$fontSize3: 5vmax;
// 	$iconSize: 1.5vmax;
// 	$iconSizeHover: 1.7vmax;
// }
