/* Variables */
@import 'variables';

.homepage {
	flex-grow: 1;

	max-width: 100%;
	// max-height: 84vh;

	@include main-box;

	display: grid;
	grid-template-areas:
		' header header featuredBox featuredBox'
		' header header cta demo'
		' imageDiv imageDiv imageDiv imageDiv';
	gap: $gap;
}

.header {
	grid-area: header;

	@include flex-center;
	flex-direction: column;

	h1 {
		@include flex-center;
		flex-direction: column;
		gap: 0px;

		color: $textColor2;

		font-size: calc($fontSize2 * 2);
		b {
			font-size: calc($fontSize2 * 2.5);
			color: $textColor1;
		}
		i {
			font-size: $fontSize2;
		}
	}
	img {
		width: 100%;
		object-fit: cover;
	}
}
// }
.featuredBox {
	grid-area: featuredBox;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.features {
	@include flex-center;
	flex-direction: column;

	.feature {
		@include common-box;
		border-color: $themeInverseColor;
		width: 90%;
		h2 {
			font-size: $fontSize2;
		}
		p {
			font-size: $fontSize3;
			text-align: right;
		}
	}
	& :nth-child(odd) {
		margin-right: auto;
	}
	& :nth-child(even) {
		margin-left: auto;
	}
}

.demo {
	@include common-box;
	@include flex-center;
	flex-direction: column;
	padding: $border-padding;
	height: 100%;
	$gap: 0px;
}

.user {
	grid-area: user;
	border-radius: $border-radius;
	border: 1px solid $themeInverseColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: $border-padding;
	gap: $gap; /* Moved gap declaration here */

	color: $textColor2;

	.profileImage {
		border-radius: 50%;
		width: calc(
			#{$fontSize2} * 5
		); /* Using interpolation to calculate values */
		height: calc(#{$fontSize2} * 5);
		transition: transform 0.3s ease;
		border: 2px solid $textColor1;

		&:hover {
			transform: scale(1.1);
		}
	}

	h2 {
		font-size: $fontSize2;
		i {
			font-style: italic;
		}
	}

	p {
		font-size: $fontSize3;
	}
}

.joinroom {
	grid-area: joinRoom;

	padding: $border-padding;
	border-radius: $border-radius;
	border: 1px solid $themeInverseColor;
	color: $textColor2;
	font-size: $fontSize2;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: $gap;
	padding: $border-padding;
	$gap: 0px;
}
.demo {
	grid-area: demo;
	border: none;

	h2 {
		font-size: $fontSize2;
	}
	p {
		font-size: $fontSize3;
	}
}

// }
.cta {
	grid-area: cta;
	@include common-box;
	@include flex-center;
	border: none;
}

.imageDiv {
	grid-area: imageDiv;

	@include common-box;
	padding: 0px;
	// border-radius: 50px;
	border: none;

	@include flex-center;

	img {
		width: 100%;
		border-radius: 50px;
		border: 2px solid $themeInverseColor;
	}
}

@media (max-width: 768px) {
	.homepage {
		// grid-template-rows: repeat(6, 1fr);
		// grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'header header'
			'featuredBox featuredBox'
			'imageDiv imageDiv'
			'imageDiv imageDiv'
			'imageDiv imageDiv'
			'cta demo';
		// max-height: 100vh;
		box-shadow: none;
		gap: 0px;
	}
	.container {
		justify-content: space-between;
	}
	.featuredBox {
		padding: $border-padding;
		.feature {
			h2 {
				font-size: $fontSize1;
			}
			p {
				font-size: $fontSize2;
			}
		}
	}
	.user {
		display: none;
	}
}
