.dashbaord {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 20px;
	height: 92vh;
	width: 100vw;
}
.child {
	height: 100%;
	border: 1px solid #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
}
.user {
	flex-grow: 1;
	max-width: 300px;
}
.rooms {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	flex-grow: 3;
	max-width: 1000px;
}
.join {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding: 10px;
	gap: 20px;
	flex-grow: 1;
	max-width: 300px;
}
.room {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding-top: 20px;
	flex-grow: 1;
	max-width: 300px;
	overflow-y: auto;
}
.heading {
	text-align: center;
	font-size: 1.5rem;
}
