.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1; /* This makes .wrapper take up the available vertical space */
}

.heading {
	text-align: center;
	font-size: 1.5rem;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inputContainer {
	margin: 10px;
}

.inputContainer input {
	width: 100%;
	background-color: #e8f0fe;
	color: black;
	padding: 10px;
	border-radius: 0.5rem;
	display: block;
	border: 0px none;
}
.actoinContainer {
	text-align: right;
}

.actoinContainer a {
	color: black;
}
