/* Variables */
@import 'variables';

/* Styles */
.popup {
	min-height: 50vh;
	width: 80vw;
	max-width: 400px;
	background-color: rgba(0, 0, 0, 0.8);
	color: $textInverse;
	border-radius: $border-radius;
	border: 1px solid $themeInverseColor;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	padding: 50px;

	.close {
		@include icon;
		color: $black;
		background-color: $white;
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		border-radius: $border-radius;
	}
}
