nav {
	background: var(--clr-white);
	box-shadow: var(--light-shadow);
}
.navHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
.navToggle {
	font-size: 1.5rem;
	color: var(--clr-primary-5);
	background: transparent;
	border-color: transparent;
	transition: var(--transition);
	cursor: pointer;
}
.navToggle:hover {
	color: var(--clr-primary-1);
	transform: rotate(90deg);
}
.logo {
	height: 40px;
}
.links a {
	color: var(--clr-grey-3);
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	display: block;
	padding: 0.5rem 1rem;
	transition: var(--transition);
}
.links a:hover {
	background: var(--clr-primary-8);
	color: var(--clr-primary-5);
	padding-left: 1.5rem;
}
.links {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}
.showLinks {
	height: 10rem;
}
@media screen and (min-width: 800px) {
	.navCenter {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.navHeader {
		padding: 0;
	}
	.navToggle {
		display: none;
	}
	.links {
		height: auto;
		display: flex;
	}
	.links a {
		padding: 0;
		margin: 0 0.5rem;
	}
	.links a:hover {
		padding: 0;
		background: transparent;
	}
}
