/* Variables */
@import 'variables';

/* Styles */
.chat {
	@include flex-center;
	flex-direction: column;
	border: 1px solid #ccc;

	@include common-box;
	border-radius: 10px 0 0 0;
	padding: 10px;

	min-width: 200px;
	max-width: 300px;
	height: 100%;
}

.messages {
	@include flex-center;
	flex-direction: column;
	gap: 0px;
	padding: 0;
	margin: 0;

	max-width: 100%;
	width: 100%;
	// flex-grow: 0;
	// flex: 1;
	list-style-type: none;
	overflow-y: auto;
}

.userMessage,
.otherMessage {
	max-width: 90%;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	overflow-wrap: break-word;
}

.userMessage {
	margin-left: auto;
	color: black;
	background: #ddd;
}

.otherMessage {
	margin-right: auto;
	color: #ddd;
	background: $blue1;
}

.form {
	display: flex;
	max-width: 100%;
	width: 100%;
	justify-content: space-between;
	margin-top: 10px;
	backdrop-filter: blur(10px);
}

.input {
	width: 70%;
	padding: 5px;
	border: 1px solid $input-border-color;
	border-radius: $border-radius;

	&:focus {
		outline: none;
	}
}

.btn {
	width: 25%;
	background-color: $primary-color;
	color: #fff;
	border: none;
	border-radius: $border-radius;
	padding: $btn-padding;
	cursor: pointer;

	&:disabled {
		background-color: $secondary-color;
	}

	&:not(:disabled):hover {
		background-color: darken($primary-color, 10%);
	}
}
