/* Variables */
@import 'variables';

/* Styles */
.container {
	@include flex-center;
	flex-direction: column;

	@include common-box;
	border: 1px solid $shadowColor;
	border-radius: 0 10px 0 0;

	min-width: 200px;
	max-width: 300px;
	height: 100%;
	overflow: auto;

	.heading {
		@include flex-center;
		box-shadow: $box-shadow;
		border: 1px solid $border-color;
		border-radius: $border-radius;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		flex-wrap: 1;
		padding: 10px;
	}

	.button {
		background-color: $primary-color;
		border-radius: 5px;
		padding: 5px 10px;
		color: white;
		border: none;
		cursor: pointer;
		width: 100%;
		transition: background-color 0.3s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;

		&:hover {
			background-color: $secondary-color;
		}

		&:disabled {
			background-color: #ccc;
			cursor: not-allowed;
		}
	}

	.connected {
		background-color: $connected-color;
		font-weight: bold;
	}

	.disconnected {
		background-color: $disconnected-color;
		font-weight: bold;
	}

	.connected:hover {
		background-color: $secondary-color;
	}

	.disconnected:hover {
		background-color: $danger-color;
	}

	.roomName {
		text-align: center;
		background-color: $border-color;
		border: none;
		border-radius: 5px;
		padding: 5px;
		width: 90%;
	}

	.share {
		display: flex;
		gap: 5px;
		width: 100%;
	}

	.toolbox {
		display: flex;
		flex-direction: column;
		padding: 10px;
		gap: 10px;

		.tools {
			flex-grow: 5;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			gap: 5px;

			div {
				display: flex;
				border: 1px solid black;
				justify-content: space-evenly;
				border-radius: $border-radius;
				padding: 10px;
				box-shadow: $box-shadow;
				height: 3.5rem;
				flex-grow: 1;

				:nth-child(1) {
					margin-bottom: auto;
					text-align: left;
					font-weight: bold;
				}

				:nth-child(2) {
					margin-top: auto;
				}
			}
		}

		.buttons {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		.tool {
			display: flex;
			gap: 5px;
		}

		select,
		input {
			border-radius: 5px;
			font-size: 0.8rem;
			background-color: $select-bg-color;
			color: $selected-color;
			min-width: 50%;
			cursor: pointer;
			text-align: center;
			height: 1.5rem;
			line-height: 1.5rem;

			&:hover {
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
				background-color: $select-hover-color;
				color: $selected-color;
			}

			&:focus {
				box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
				background-color: $select-hover-color;
				color: $selected-color;
			}
		}

		input[type='range'] {
			flex-grow: 4;
			width: 100%;
		}

		input[type='color'] {
			padding: 0px;
			border: 2px solid black;
		}
	}
}
.userdiv {
	flex-grow: 5;
	border: 1px solid $border-color;
	padding: 10px;
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	overflow: auto;

	.users {
		display: flex;
		flex-direction: column;
		padding: 10px;
		justify-content: space-evenly;
		list-style-type: none;

		li {
			padding: 10px;
			font-size: 0.8rem;
			margin-bottom: 5px;
			background-color: $tool-bg-color;
			border-radius: 5px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&:hover {
				text-decoration: underline;
			}

			:nth-child(odd) {
				background: $secondary-color;
				color: $selected-color;
			}

			:nth-child(even) {
				background: $tool-bg-color;
				color: $selected-color;
			}

			:nth-child(odd):hover {
				background: $secondary-color + c9;
				color: $selected-color;
			}

			:nth-child(even):hover {
				background: $tool-bg-color;
				color: $selected-color;
			}
		}
	}
}
