/* Variables */
@import 'variables';

.wrapper {
	@include flex-center;
	flex-direction: column;

	@include main-box;
	border-radius: 0 $border-radius 0 0;
	margin: 0px;

	min-width: 15vw;
	max-width: 18vw;
	height: 100%;
	@media (max-width: 768px) {
		display: none;
	}
}

/* Styles */
.container {
	max-width: 100%;
	font-size: $fontSize2;
	@media (max-width: 768px) {
		display: none;
		position: fixed;
		left: 0;
		top: 10vh;
		bottom: 0vh;
		height: auto;
		max-width: 20px;
		max-height: 30%;
		flex-direction: column;
	}

	.heading {
		@include common-box;
		@include flex-center;
		justify-content: space-between;
		padding: 10px;
		flex-direction: column;
		gap: 5px;
		width: 100%;

		// flex-wrap: 1;
	}

	.button {
		@include buttons;
		padding: 5px 10px;
		color: white;
		cursor: pointer;
		width: 100%;
		transition: background-color 0.3s ease;
		gap: 5px;
	}

	.connected {
		background-color: $green;
		font-weight: bold;
	}

	.disconnected {
		background-color: $red;
		font-weight: bold;
	}

	.roomName {
		@include info;
		margin: 0px;
	}

	.share {
		display: flex;
		gap: 5px;
		width: 100%;
	}
	.buttonsSection {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.toolbox {
		@include common-box;
		@include flex-center;
		border: none;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		max-width: 100%;

		.tools {
			flex-grow: 4;

			@include flex-center;
			flex-direction: column;
			align-items: left;
			// justify-content: space-evenly;

			.tool {
				@include flex-center;
				// flex-wrap: wrap;
				max-width: 100%;
				gap: 5px;

				.active {
					background-color: rgb(49, 49, 245);
				}
			}
		}

		.lineWidth {
			@include flex-center;
			justify-content: space-between;
			width: 100%;
			// border: 2px solid white;

			input {
				padding: 5px;
				border: 1px solid #ccc;
				border-radius: $border-radius;
				font-size: $fontSize2;
				max-width: 30%;
			}
		}
		.color {
			display: flex;
			justify-content: space-between;
			width: 100%;
			input {
				max-width: 30%;
			}
		}
	}
}
.userdiv {
	@include common-box;
	flex-grow: 10;
	width: 100%;
	overflow: auto;
	// min-height: 50%;

	.users {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		list-style-type: none;
		width: 100%;

		.green {
			@include info;
			p {
				color: $green;
			}
		}
		.red {
			@include info;
			p {
				color: $red;
			}
		}
	}
	@media (max-width: 768px) {
		display: none;
		position: fixed;
		left: 0;
		top: 10vh;
		bottom: 0vh;
		height: auto;
		max-width: 300px;
	}
}

.icon {
	@include icon;
}
.toolicon,
.usericon {
	color: $themeInverseColor;
	font-size: calc($fontSize2 * 2.5);
	display: none;
	z-index: 2;
	position: fixed;
	left: 0;
	@media (max-width: 768px) {
		// default display
		display: block;
	}
}
.toolicon {
	top: 10vh;
}
.usericon {
	top: 15vh;
}
.show {
	display: flex;
}
