.navCenter {
	background: var(--clr-white);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width: 100vw;
	height: 8vh;
	/* margin-bottom: 5px; */
}

.navHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--clr-primary);
}

.navToggle {
	font-size: 1.5rem;
	color: var(--clr-primary-5);
	background: transparent;
	border: none;
	transition: var(--transition);
	cursor: pointer;
}

.navToggle:hover {
	color: var(--clr-primary-1);
	transform: rotate(90deg);
}

.logo {
	height: 40px;
}

.links a {
	color: var(--clr-grey-3);
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	display: block;
	padding: 0.5rem 1rem;
	transition: var(--transition);
}

.links a:hover {
	background: var(--clr-primary-8);
	color: var(--clr-primary-5);
	padding-left: 1.5rem;
}

.links {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
	display: flex;
	align-items: center;
}

.showLinks {
	height: 10rem;
}

@media screen and (min-width: 800px) {
	.navCenter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}

	.navHeader {
		padding: 0;
	}

	.navToggle {
		display: none;
	}

	.links {
		height: auto;
		display: flex;
	}

	.links a {
		padding: 0.5rem 1rem;
		margin: 0 0.5rem;
	}

	.links a:hover {
		background: var(--clr-primary-8);
		color: var(--clr-primary-5);
		padding-left: 1rem;
	}
}

.user {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
	border-radius: 10px;
	padding: 1px 10px 1px 10px;
	background-color: black;
	color: white;
}
.signInButton {
	background: transparent;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.4s;
	color: white;
}
.signInButton:hover {
	text-decoration: underline;
}

.signOutButton {
	display: flex;
	justify-content: center;
	border: none;
	width: 100%;
	border-radius: 5px;
	background-color: red;
	color: white;
	transition: all 0.4s;
}

.signOutButton:hover {
	background-color: #b11414;
	border: 1px solid red;
	color: black;
	text-decoration: underline;
}
.icon {
	font-size: 1.5rem;
	display: flex;
	color: var(--icon-color);
}
