/* Variables */
@import 'variables';

/* Styles */
.nav {
	@include flex-center;
	justify-content: space-between;

	max-width: 100vw;
	max-height: 8vh;

	box-shadow: $navBorderShadow;
	border-radius: 0px 0px $border-radius $border-radius;
	padding: 0px 1rem;
}
.navHeader {
	@include flex-center;

	h1 {
		color: $textColor2;
		font-style: italic;
		font-size: $navheadingsize;
	}

	.navToggle {
		background: transparent;
		border: none;
		cursor: pointer;
		transition: $transition;

		@media screen and (min-width: 800px) {
			display: none;
		}
	}
}

.action {
	@include flex-center;
	align-items: center;
}

.logo {
	height: 40px;
}

.links {
	@include flex-center;
	justify-content: space-between;
	height: 0;
	display: none;
	transition: $transition;

	@media screen and (min-width: 800px) {
		height: auto;
		display: flex;
	}

	li {
		color: $textColor2;
		text-transform: capitalize;
		letter-spacing: $spacing;
		padding: 0.5rem 0.5rem;
		border-radius: $border-radius;
		transition: $transition;
		//do not break words
		white-space: nowrap;

		&:hover {
			color: $primaryColor2;
			background: $primaryColor;
		}
	}
}

.icon {
	@include icon;
}

span {
	p {
		text-align: center;
	}
}

.profileImage {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

.signOutButton {
	@include button-main;
	padding-top: 1px;
	padding-bottom: 1px;
	white-space: nowrap;
}
